@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root{
--VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);
--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);
--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);
}
body{
    /* font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    padding: 50px;  */
    background-color: var(--LightGrayishBlue);
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}
.dblock{
    display: block;
}
.myul{
    list-style: none;
    gap: 40px;
    font-family: 'Raleway', sans-serif;
    display: flex;
}
.mynav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.h1desktop{
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    color: var(--VeryDarkBlue);
    font-size: 30px;
}
.h1mobile{
    display: none;
}
.pdesktop{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: var(--VeryDarkBlue);
}
.pmobile{
    display: none;
}
.mail{
    width: 250px;
    height: 27px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    
    
}
button{
    color: var(--LightGrayishBlue);
    background-color: var(--BrightBlue);
    border: none;
    border-radius: 5px;
    padding: 9px 40px;
}
.box{
    display: flex;
    gap: 15px;
}
.myimg{
    width: 500px;
    margin-top: 20px;

}
.myimage{
    width: 400px;
    height: 400px;
    position: relative;
    top: 150px;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px;
}
.bgpattern{
     width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    color: black;
}
.alltext{
    padding: 30px;
}
.flextext{
    display: flex;
    gap: 300px;
}
.myp{
    color: var(--ModerateCyan);
    
    
}
.green{
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid var(--ModerateCyan);
    width: 170px;
    
}
.arrow{
    width: 20px;
    height: 20px;
    margin-top: 13px;
}
.mybox{
    border: 5px solid black;
    background-color: white;
    width: 60%;
    height: 180px;
    border: none;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
}
.testimonial{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-top: 20px;

}
.h4desktop{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.h4mobile{
    display: none;
}
.boxp{
    font-size: 7px;
    position: relative;
    bottom: 20px;
    color: var(--VeryDarkBlue);
}
.text{
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 20px;
}
.allbox{
    margin-left: 10px;
}
.getearly{
    background-color: var(--DesaturatedBlue);
    font-family: 'Open Sans', sans-serif;
    color: var(--LightGrayishBlue);
    font-size: 15px;
    padding: 50px;
    
}
.lastpdesktop{
    color: var(--LightGrayishBlue);
    font-size: 10px;
    font-weight: 100;
}
.lastpmobile{
    display: none;
}
.maill{
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.start{
    margin-top: 10px;
}
.getearlyjoint{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: var(--VeryDarkBlue);
    
    
}
.footerimg{
    filter: brightness(100);
    margin-left: 50px;
    margin-top: 50px;
}
.phone{
    color: var(--LightGray);
    display: flex;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    position: relative;
    top: 20px;
}
.phoneimg{
    height: 15px;
    position: relative;
    top: 20px;
}
.mailimg{
    color: var(--LightGray);
    display: flex;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}
.mailex{
    height: 15px;
    position: relative;
    top: 20px;
}
ul{
    display: block;
    color: var(--LightGray);
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    line-height: 25px;
    margin-top: 30px;
    list-style: none;
}
.logo{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: center;
    
    
}
.footers{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 100px;
}
.mylogo{
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
}

.myh1pmobile{
    display: none;
}


@media(max-width:600px){
 
   .hero{
    flex-direction: column-reverse;
   }


   .myimg{
    width: 350px;
    margin:15px;
    
}
.heroimg{
    display: grid;
    place-items: center;
}

.firstlogo{
    height: 25px;
}


.myul{

}


.myul li{
    position: relative;
    bottom: 35px;

}


.myh1pdesktop {
    display: none;
}

.myh1pmobile{
    display: block;
}


.myh1pmobile h1{
    text-align: center;
    font-size: 26px;
    position: relative;
    bottom: 30px;
}


.myh1pmobile p{
    text-align: center;
    position: relative;
    bottom: 20px;
}


.box{
   flex-direction: column;
}
.flextext{
    flex-direction: column-reverse;
}
.myimage{
    width: 380px;
    margin: 15px;
    
    
}
button{
    color: var(--LightGrayishBlue);
    background-color: var(--BrightBlue);
    border: none;
    font-size: 17px;
    border-radius: 5px;
    width: 350px;
}
.mail{
    border: 1px solid black;
    border-radius: 3px;
    width: 335px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    
}
h1{
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    color: var(--VeryDarkBlue);
   
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: var(--LightGray);
}
.h1desktop{
   display: none;
}
.h1mobile{
    display: block;
    font-family: 'Raleway', sans-serif;
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 30px;
}
.pdesktop{
   display: none;
}
.pmobile{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: var(--VeryDarkBlue);
}
.green{
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid var(--ModerateCyan);
    width: 120px;
    margin-left: 80px;
    
    
}
.h4desktop{
    display: none;
}
.h4mobile{
    display: block;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 20px;
}
.mybox{
    border: 5px solid black;
    background-color: white;
    width: 90%;
    height: 170px;
    border: none;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    margin-left: 10px;
}
.maill{
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    width: 96%;
    height: 30px;
    margin-top: 20px;
    justify-content: center;
}
.startbtn{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 9px;
    justify-content: center;
}
.getearlyjoint{
    display: block;
    justify-content: space-between;
}
h3{
    text-align: center;
}
.lastpmobile{
    color: var(--LightGrayishBlue);
    font-size: 12px;
    font-weight: 100;
    display: block;
    text-align: center;
}
.lastpdesktop{
    display: none;
}
.footerimg{
    filter: brightness(100);
    margin-left: 50px;
    margin-top: 50px;
}
.mailimg{
    color: var(--LightGray);
    display: flex;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}
.footers{
    display: block;
    justify-content: center;
    margin-left: 150px;
    
}
ul{
    display: block;
    color: var(--LightGray);
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    line-height: 25px;
    margin-top: 30px;
    position: relative;
    right: 40px;
    list-style: none;
}
.mylogo{
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
    height: 20px;
    width: 20px;
    
}
.logo{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: center;
    
    
}

    
}
